@using CIProjectweb.Entities.ViewModels;
@model List<MissionCardModel>
@{
    var Count = ViewBag.count;
    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
 <link rel="stylesheet" href="~/css/custom.css"  />
<style>
    @@charset "UTF-8";

    :root {
        --star-size: 28px;
        --star-color: #ddd;
        --star-background: #f8d441;
    }

    .Stars {
        --percent: calc(var(--rating) / 5 * 100%);
        display: inline-block;
        font-size: var(--star-size);
        font-family: Times;
        line-height: 1;
    }

        .Stars::before {
            content: "★★★★★";
            letter-spacing: 3px;
            background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
</style>
<style>

    .card {
        margin-bottom: 1rem;
    }

    .list-view .row > [class*=col-] {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .list-view .card {
        flex-direction: row;
    }

    @@media (max-width: 575.98px) {
        .list-view .card {
            flex-direction: column;
        }
    }

    .list-view .card > .card-img-top {
        width: auto;
    }

    .list-view .card .card-body {
        display: inline-block;
    }

    .cardbtn {
        border: 1px solid #fd7e14;
        border-radius: 22px;
    }

        .cardbtn span {
            color: #fd7e14;
        }

    .star {
        height: 1rem;
        width: 1rem;
    }

    .rule {
        display: flex;
        flex-direction: row;
    }


    hr {
        flex: 1;
        border: none;
        height: 2px;
        background: black;
    }

    .seat {
        font-size: 0.7rem;
    }

    .hrbtn-img {
        background-color: white !important;
        border: none;
        border-radius: 22px;
        color: #414141;
        z-index: 1;
    }

    .hrbtn {
        background-color: white !important;
        border: 0.1rem solid rgb(184, 184, 184);
        border-radius: 22px;
        color: #414141;
        font-size: .8rem;
    }

    .img-btn {
        background: #000000 0% 0% no-repeat padding-box;
        opacity: 0.8;
        border-radius: 18px;
        width: fit-content;
        padding: 0 6px;
        width: 7.5rem;
        height: 2rem;
        margin-left: -8rem;
        margin-top: 1rem !important;
    }

        .img-btn p {
            color: #FFFFFF;
        }

    .img-btn-2 {
        background: #000000 0% 0% no-repeat padding-box;
        opacity: 0.8;
        border-radius: 50%;
        width: fit-content;
        margin-left: -3rem;
        margin-top: 4rem !important;
    }

    .img-btn-3 {
        background: #000000 0% 0% no-repeat padding-box;
        opacity: 0.8;
        border-radius: 50%;
        width: fit-content;
        z-indexndexindexindex margin-left: -3rem;
        margin-top: 8rem !important;
    }
</style>

<script>
    var span = document.getElementsByClassName("close")[0];


    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        document.getElementById("myModal").style.display = "none";
    }

    setTimeout(alertFunc, 1000);
    function alertFunc() {
        VirtualSelect.init({
            ele: '#divCountry',
            dropboxWidth: '170px'
        });
        VirtualSelect.init({
            ele: '#divCity',
            dropboxWidth: '170px'
        });
        VirtualSelect.init({
            ele: '#divTheme',
            dropboxWidth: '170px'
        });
        VirtualSelect.init({
            ele: '#divSkill',
            dropboxWidth: '170px'
        });
    }

    $(document).ready(function() {

        $("#countryDiv").change(function() {
            FilterTag("#divCountry");
           

            Filter();
        });
        $("#cityDiv").change(function() {
            FilterTag("#divCity");
            Filter();
        });
        $("#themeDiv").change(function() {
            FilterTag("#divTheme");
            Filter();
        });
        $("#skillDiv").change(function() {
            FilterTag("#divSkill");
            Filter();
        });
        $("#divSort").change(function() {
            Filter();
        });
    });

    function Search() {
        Filter();
    }
   
   
    function favMission(Missionid, Missionfav) {
        $.ajax({
            url: '/Mission/FavMission',
            type: 'POST',
            dataType: 'json',
            data: { id: Missionid, fav: Missionfav },
            success: function(d) {
                Filter();
            },
            error: function() {
                alert('Error');
            }
        });
    }

    function ApplyMission(MissionId) {
        $.ajax({
            url: '/Mission/ApplyMission',
            type: 'POST',
            dataType: 'json',
            data: { id: MissionId },
            success: function(d) {
                Filter();
                Swal.fire(d);
            },
            error: function() {
                Swal.fire('Error.');
            }
        });
    }
    //function FilterTag(str) {
    //    var a = document.querySelector(str).getSelectedOptions();
    //    $(str + "Div").empty();
    //    $.each(a, function (i, text) {
    //        alert(i);
    //        $(str + "Div").append('<button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1 me-2"><span class="text-wrap">' + text.label + '</span><i class="bi bi-x" onclick="closediv(i)"></i></button>');
    //    });
    //}

    //function FilterTag(str) {
       
    //   var selectElement = document.querySelector(str);
    //        var selectedOptions = selectElement.getSelectedOptions();
    //        var containerElement = $(str + "Div");
    //        containerElement.empty();

    //        // Append new tags
    //        $.each(selectedOptions, function (i, text) {
    //            containerElement.append('<button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1 me-2" id="option-' + i + '"><span class="text-wrap">' + text.label + '</span><i class="bi bi-x"></i></button>');
    //        });

    //        containerElement.on('click', 'button i.bi-x', function () {
    //            // Get the index of the option to remove
    //            var index = $(this).parent().attr('id').split('-')[1];

                

    //            // Deselect the corresponding option from the selected options list
    //            var selectElement = document.querySelector(str);
    //            var removedOption = selectElement.options[index];
    //               removedOption.selected = false;
    //            selectElement.options.splice(index, 1);
    //            // Remove the button element
    //            $(this).parent().remove();
    //            // Get the latest selected values
                
    //            var selectedOptions = selectElement.getSelectedOptions();
    //            if (selectedOptions) {
    //                const updatedValues = Array.from(selectedOptions).map(option => option.value);
                    
    //                // Call setValue with the latest values
    //                document.querySelector(str).setValue(updatedValues);
    //                Filter();
    //            }
                

               
    //        });

    //}
     function FilterTag(str) {
       
       console.log(str);
        var selectElement = document.querySelector(str);
        var selectedOptions = selectElement.getSelectedOptions();
       
        var containerElement = $(str + "Div");
        containerElement.empty();
        // Append new tags
        $.each(selectedOptions, function (i, text) {
            containerElement.append('<button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1 me-2" id="option-' + i + '"><span class="text-wrap">' + text.label + '</span><i class="bi bi-x"></i></button>');
        });
        


        containerElement.on('click', 'button i.bi-x', function () {
            // Get the index of the option to remove
            var index = $(this).parent().attr('id').split('-')[1];
            // Remove the button element
            $(this).parent().remove();
           
        
           // Deselect the corresponding option from the selected options list
    selectElement.options[index].selected = false;
    document.querySelector(str).reset();
   Filter();
            
        });

    }
 function getID(e){
            
            var abc = e.id;
            var missionElement = document.getElementById('missionId');
            missionElement.innerHTML = abc;
          
        }

</script>

<div class="ms-5" id="navmaindiv">
    <div>
        <div class="d-flex flex-row justify-content-between ">
            <div class="d-flex" id="heading">
                <h4 class="text-muted">Explore</h4>
                <h3 class="ms-2" id="list-count"><b>@Count</b> Missions</h3>
            </div>
            <div class="me-5" id="sortByDropdown">
                <div class="dropdown" id="sortByDropdown">
                    <span id="SortDiv">
                        <select id="divSort" placeholder="Sort By">
                            <option selected>Sort By</option>
                            <option value="1">Newest</option>
                            <option value="2">Oldest</option>
                            <option value="3">Lowest available seats</option>
                            <option value="4">Highest available seats</option>
                            <option value="5">Sort by my favourite</option>
                            <option value="6">Sort by deadline</option>
                        </select>
                    </span>
                    <button class="btn-grid navbar-toggler toggle" type="button" id="grid" onclick="toggle()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/lib/images/grid.png">
                    </button>
                    <button class="btn-list navbar-toggler toggle" type="button" id="list" onclick="toggle()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/lib/images/list.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />







@foreach (var teacher in Model)
{
    <div class="col-12 col-md-6 col-lg-4">

        <div class="card card-height" style="height: 95%;">
            <div class="d-inline position-relative">
                <img src="@(teacher.CardImg)" class="card-img-top"
                 alt="Mission Image">
                @if (teacher.missionApplied == 0 && teacher.mission.Deadline < DateTime.Now && @Context.Session.GetString("UserId") != null)
                {
                    <button class="applied-btn position-absolute" type="button">Closed</button>
                }
                @if (teacher.missionApplied == 1 && teacher.approvalPending == 0 && @Context.Session.GetString("UserId") != null)
                {
                    <button class="closed-btn position-absolute" type="button">Applied</button>
                }
                @* @if(teacher.mission.EndDate<DateTime.Now){
            <button class="closed-btn position-absolute" type="button">Closed</button>
            }*@
                <button class="img-btn position-absolute" type="button"><img src="../images/pin.png" class="d-inline me-1" /><p class="d-inline">@teacher.country</p></button>
                <button class="img-btn-2 position-absolute" onclick="likeMissionLanding(@teacher.mission.MissionId)" type="button">
                    <i class="bi bi-heart-fill" id="@teacher.mission.MissionId" style="@(teacher.favMission==1? "color:#F88634;" : "color:white;")" width="20px" height="20px"></i>
                </button>
                <button class="img-btn-3 position-absolute" type="button" id="@teacher.mission.MissionId" onclick="modalcall(this)"><img src="~/lib/images/add1.png" width="20px" height="20px" /></button>
                <a hidden id="missionId"> </a>
            </div>
             @{
        int outerIndex = Model.IndexOf(teacher);
    }
            <div id="myModal" class="modal" style="z-index:10">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Select Co-workers</h2>
                        <span class="close">&times;</span>

                    </div>
                     <div class="modal-body">
                                    <div class="spinner-border text-success d-none" role="status" id="emailLoader">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    <ul style="list-style-type:none" id="emaillist">

                                        
                                        @foreach (var items in @ViewBag.Users )
                                        {
                                               var missionId = @Model[outerIndex].mission.MissionId;
                                            <li class="dropdown-item">
                                                <input class="form-check-input" type="checkbox" value=@items.Email name="Checkme" />@items.FirstName <span>(@items.Email)</span>
                                                @*<button type="button" class="btn btn-success me-1" onclick="recomand1('@items.Email')" style="position:absolute; right:6px;" id="sent">
                                                        Send Email
                                                    </button>*@
                                            </li>
                                              
                                        }
                                    </ul>

                                </div>
                    <div class="modal-footer">

                        <button type="button" id="sent1" class="btn cardbtn" onclick="sendRec1();">Send Mail</button>
                    </div>
                </div>

            </div>


            <div class="rule" style="margin-top:-20px !important;">
                <hr>
                <button class="hrbtn-img" id="hrbtn">@teacher.theme</button>
                <hr>
            </div>
            <div class="card-body">
                <h5 class="card-title">@teacher.mission.Title</h5>
                <p class="card-text text-secondary">
                    @teacher.mission.ShortDescription
                </p>

                <div class="d-flex">
                    <div class="card-text">@teacher.mission.OrganizationName</div>
                    <div class="ms-auto">
                        <div class="Stars" style="--rating: @teacher.avgRating;"></div>
                    </div>
                </div>

                <div class="rule mt-1">


                    @if (teacher.mission.MissionType != "Goal")
                    {
                        <hr>
                        <button class="hrbtn"> <span> From @teacher.mission.StartDate.Value.ToShortDateString() until @teacher.mission.EndDate.Value.ToShortDateString()</span></button>
                        <hr>
                    }
                    else
                    {
                        <hr>
                        <button class="hrbtn"><span>@teacher.goalMission.GoalObjectiveText</span></button>
                        <hr>
                    }


                </div>

            
                <div class="d-flex flex-row justify-content-between">
                    @if (teacher.missionApplied == 1 || teacher.mission.Deadline > DateTime.Now || teacher.progressBar < 100)
                    {
                        if(int.Parse(teacher.mission.SeatAvailable) > 0)
                        {
                            <div class="d-flex flex-row align-items-center">
                            <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">@teacher.seatsLeft</p>
                                <p class="seat">Seats Left</p>
                            </div>
                            </div>
                        }
                        else if(teacher.mission.MissionType == "Time")
                        {
                            <div class="d-flex flex-row align-items-center">
                            <img src="~/lib/images/Already-volunteered.png" alt="" class="" height="25px" width="25px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">@teacher.alreadyVolunteered</p>
                                <p class="seat">Already Volunteered</p>
                            </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex flex-row align-items-center invisible">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">d</p>
                                <p class="seat">d</p>
                            </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="d-flex flex-row align-items-center invisible">
                            <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">seatsLeft</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                    }


                    @if (teacher.mission.MissionType != "Goal" && (teacher.missionApplied == 1 || teacher.mission.Deadline > DateTime.Now))
                    {
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">@teacher.mission.EndDate.Value.ToShortDateString()</p>
                                <p class="seat">Deadline</p>
                            </div>

                        </div>
                    }
                    else if (teacher.mission.MissionType == "Goal" && (teacher.missionApplied == 1 || teacher.progressBar < 100))
                    {
                        if(int.Parse(teacher.mission.SeatAvailable) > 0)
                        {
                            <div class="d-flex flex-row align-items-center">
                            <img src="~/images/achieved.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <span class="progress" style="height: 10px; width: 100%;">
                                    <span class="progress-bar bg-warning" role="progressbar" aria-label="Basic example"
                                  style="width: @teacher.progressBar%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="75">
                                    </span>
                                </span>
                                <span>@((@teacher.progressBar)*(@teacher.goalMission.GoalValue/100)) achived</span>
                            </div>
                            </div>

                        }
                        else
                        {
                            <div class="d-flex flex-row align-items-center me-auto">
                            <img src="~/images/achieved.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <span class="progress" style="height: 10px; width: 100%;">
                                    <span class="progress-bar bg-warning" role="progressbar" aria-label="Basic example"
                                  style="width: @teacher.progressBar%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="75">
                                    </span>
                                </span>
                                <span>@((@teacher.progressBar)*100) achived</span>
                            </div>
                        </div>

                        }
                        
                    }
                    else
                    {
                        <div class="d-flex flex-row align-items-center invisible">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">Dimple</p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    }



                </div>
                <div class="d-flex mx-auto">
                    @if (@Context.Session.GetString("UserId") == null)
                    {

                        <button type="button" onclick="ApplyMission(@teacher.mission.MissionId)" class="btn btn-outline-warning rounded-pill mx-auto">
                            <span class="text-wrap">Apply</span>
                            <i class="bi bi-arrow-right ms-2"></i>
                        </button>
                    }
                    else if (teacher.approvalPending == 1)
                    {
                        <button type="button" onclick="return location.href=' @Url.Action("RelatedMissionPage","Home",new {id=@teacher.mission.MissionId}) '" class="btn btn-outline-warning rounded-pill mx-auto">
                            <span class="text-wrap">Pending...</span>
                            <i class="bi bi-arrow-right ms-2"></i>
                        </button>
                    }
                    else if (teacher.mission.Deadline > DateTime.Now && teacher.seatsLeft > 0 && teacher.missionApplied == 0)
                    {
                        <button type="button" onclick="return location.href=' @Url.Action("RelatedMissionPage","Home",new {id=@teacher.mission.MissionId}) '" class="btn btn-outline-warning rounded-pill mx-auto">
                            <span class="text-wrap">Apply</span>
                            <i class="bi bi-arrow-right ms-2"></i>

                        </button>

                    }
                    else if (teacher.mission.MissionType == "Goal" && teacher.seatsLeft > 0 && teacher.progressBar < 100 && teacher.missionApplied == 0)
                    {
                        <button type="button" onclick="return location.href=' @Url.Action("RelatedMissionPage","Home",new {id=@teacher.mission.MissionId}) '" class="btn btn-outline-warning rounded-pill mx-auto">
                            <span class="text-wrap">Apply</span>
                            <i class="bi bi-arrow-right ms-2"></i>
                        </button>

                    }
                    else if (teacher.missionApplied == 1 && teacher.approvalPending == 0)
                    {
                        <button type="button" onclick="return location.href=' @Url.Action("RelatedMissionPage","Home",new {id=@teacher.mission.MissionId}) '" class="btn btn-outline-warning rounded-pill" style="margin-left: auto; margin-right: auto;">
                            <span class="text-wrap">Detail</span>
                            <i class="bi bi-arrow-right ms-2"></i>
                        </button>
                    }
                    else
                    {
                        <button type="button" onclick="return location.href=' @Url.Action("RelatedMissionPage","Home",new {id=@teacher.mission.MissionId}) '" class="btn btn-outline-warning rounded-pill" style="margin-left: auto; margin-right: auto;">
                            <span class="text-wrap">ViewDetail</span>
                            <i class="bi bi-arrow-right ms-2"></i>
                        </button>
                    }
                </div>
                @*<div class="text-center">
            <a href="#" class="btn cardbtn mx-auto " onclick="redirectToMission(@teacher.mission.MissionId)">
            <span>Apply</span> <img class="ms-1"
            src="~/lib/images/right-arrow.png">
            </a>
            </div>*@
            </div>
        </div>
    </div>
}



<nav aria-label="Page navigation example mt-5 mb-5">

    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-center">

            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Mission" asp-action="LandingPage" asp-route-pg="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Mission" asp-action="LandingPage" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Mission" asp-action="LandingPage" asp-route-pg="@pge">@pge</a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Mission" asp-action="LandingPage" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Mission" asp-action="LandingPage" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</nav>


<input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />

<script>

    var buttonId;
    $('.navbar-toggler').click(function() {
        buttonId = $(this).attr('id');
    });
    function Filter() {


        let searchParams = new URLSearchParams(window.location.search)
        let param = searchParams.get('pg');
        var country = $("#divCountry").val();
        var city = $("#divCity").val();
        var theme = $("#divTheme").val();
        var skill = $("#divSkill").val();
        var search = $("#box").val();
        var Sort = $("#divSort").val();
        $.ajax({
            url: '/Mission/Filter',
            type: 'POST',
            dataType: 'html',
            data: { CountryId: country, CityId: city, ThemeId: theme, SkillId: skill, searchText: search, sort: Sort, pg: param },
            success: function(d) {

                $("#missionpartialView").empty();
                $("#missionpartialView").html(d);
                if (buttonId == 'list') {

                    $(".hrbtn-img").addClass("hr-btn");
                    $(".card-img-top").addClass("card-img-top-listview");
                } else {
                    console.log('else');
                    $(".hrbtn-img").removeClass("hr-btn");
                    $(".card-img-top").removeClass("card-img-top-listview");
                }
                if (country.length > 0 || city.length > 0 || theme.length > 0) {
                    document.querySelector(".clearAllFilter").classList.remove("d-none");
                }
                else {
                    document.querySelector(".clearAllFilter").classList.add("d-none");
                }

            },
            error: function() {
                Swal.fire('Error.');
            }
        });

    }
</script>
