@using CIProjectweb.Entities.DataModels
@using CIProjectweb.Entities.ViewModels
@using Newtonsoft.Json
@model CIProjectweb.Entities.ViewModels.MissionListingModel
@{
     
    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIProjectweb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/VirtualSelect.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="~/js/vertuleSelect.js"></script>
  
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/Style.css"  />
    <link rel="stylesheet" href="~/CIProjectweb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom" style="height: 50px;">
            <div class="container-fluid d-flex flex-row justify-content-between">
                <div class="d-flex flex-row">
                    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="img-logo-mobile">
                        <img src="~/lib/images/logo.png" width="60px" height="20px" />
                    </div>
                </div>
                <div class=" row" id="mobilecontent">
                    <div class="d-flex ">

                        <div class="">
                            <button class="btn btn-search" type="button"><img src="~/lib/images/search.png"></button>
                            <img src="~/lib/images/bell.png" />
                            <img id="profileimg" src="~/lib/images/user-img.png">

                        </div>
                    </div>
                </div>
                <div class="offcanvas offcanvas-start" id="navbarSupportedContent">
                    @* <a href="javascript:void(0)" style="text-decoration:none;" onclick="closeNav()">clear All</a>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>*@
                    <div class="offcanvas-header">
                        <h1 class="offcanvas-title" style="color:blue;">Clear All</h1>

                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                    </div>

                    <a class="nav-link text-dark font-color" asp-area="" asp-controller="Home" asp-action="storyListingPage">Stories</a>
                    <div class="dropdown dropright ">
                        <a class="nav-link text-dark font-color" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Policy
                            <i class="bi bi-chevron-right "></i>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item dd-color" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider dd-color"></li>
                            <li><a class="dropdown-item dd-color" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="collapse navbar-collapse me-auto ms-auto" id="navbarSupportedContent1">
                    <ul class="navbar-nav flex-grow-1" style="margin-left:15%">

                        <li class="nav-item">
                            <a class="nav-link text-dark font-color" asp-area="" asp-controller="Home" asp-action="storyListingPage">Stories</a>
                        </li>
                        <li class="nav-item ms-4 dropdown">
                            <a class="nav-link text-dark font-color" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                                <img class="ic-down" src="~/images/drop-down.png">
                            </a>
                            <ul class="dropdown-menu">
                               
                                <li> <a class="dropdown-item dd-color" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                                
                            </ul>
                        </li>

                         
                    </ul>
                    <div class="d-flex me-5  justify-content-end dropdown mx-5 my-auto">

                        @* <img id="profileimg" src="~/lib/images/user-img.png"><a class=" nav-link text-dark font-color " href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" font-family: Roboto;>@if(User.Identity.IsAuthenticated){<label asp-for="UsersList.FirstName">@Model.UsersList.FirstName</label>}  <img class="ic-down" src="~/lib/images/drop-down.png"></a>


                        <ul class="dropdown-menu">
                        @if(User.Identity.IsAuthenticated){<li><a class="dropdown-item dd-color" asp-action="LogOut" asp-controller="Home">Log Out</a></li>}
                        @if(!User.Identity.IsAuthenticated){<li><a class="dropdown-item dd-color" asp-action="Login" asp-controller="Home">Log In</a></li>}
                        <li><a class="dropdown-item dd-color" href="#">Action</a></li>
                        <li><a class="dropdown-item dd-color" href="#">Another </a></li>
                        <li><a class="dropdown-item dd-color" href="#">Something </a></li>
                        </ul>*@

                        @if (@Context.Session.GetString("UserName") != null)
                        {

                            <img id="profileimg" src="@Context.Session.GetString("Avtar")">

                            <a class=" nav-link text-dark font-color " href="#" role="button" data-bs-toggle="dropdown"
                                                                                aria-expanded="false" font-family: Roboto;><label> @Context.Session.GetString("UserName")</label>  <img class="ic-down" src="~/images/drop-down.png"></a>
                            <ul class="dropdown-menu ">
                               
                                <li><a class="dropdown-item dd-color" asp-action="userEditProfile" asp-controller="Home">Add profile</a></li>
                                <li><a class="dropdown-item dd-color" asp-action="VolunteeerTimesheet" asp-controller="Home">Volunteer Timesheet</a></li>

                                
                                <li><a class="dropdown-item dd-color" asp-action="LogOut" asp-controller="Home">Log out</a></li>
                            </ul>

                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Home" class="btn btn-outline-danger">Login</a>
                            <a asp-action="registration" asp-controller="Home" class="btn btn-outline-danger ms-3">Register</a>
                        }


                    </div>
                </div>
            </div>
        </nav>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2" style="height: 50px;" id="searchnav">
            <div class="container-fluid " id="navmaindiv">
                <div class="row">
                    <div class="col-lg-6 col-md-5  d-flex flex-row">

                        <div class="search-bar">
                            <input id="searchbox" type="text" placeholder="&#xF002; Search Mission" style="border:0px;font-family:Arial, FontAwesome;" aria-label="Search" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-7  me-5">
                    <div class="row" id="row">
                        <div class="col-lg-3 col-md-2  p-0  border-start">
                            <div class="d-flex me-0 ">
                                <div class="dropdown">
                                    <a class=" nav-link txt text-dark my-auto" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" font-family: Roboto;>
                                        Country  <i class="bi bi-chevron-down  my-auto"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        @foreach (var country in myModels)
                                        {
                                            <li>
                                                <a class="dropdown-item dd-color" href="#">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=@country.CountryId name="@country.Name" id="1" />
                                                        <label class="form-check-label" for="1">@country.Name</label>
                                                    </div>
                                                </a>
                                            </li>
                                        }

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2 p-0 border-start">
                            <div class="d-flex me-0 justify-content-start">
                                <div class="dropdown my-auto">
                                    <a class=" nav-link txt text-dark" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" font-family: Roboto;>
                                        City  <i class="bi bi-chevron-down"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        @foreach (var City in myModelsCity)
                                        {
                                            <li>
                                                <a class="dropdown-item dd-color" href="#">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=@City.CityId name="@City.Name" id="1" />
                                                        <label class="form-check-label" for="1">@City.Name</label>
                                                    </div>
                                                </a>
                                            </li>
                                        }

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2  p-0 border-start">
                            <div class="d-flex me-0 justify-content-start">
                                <div class="dropdown my-auto">
                                    <a class=" nav-link txt text-dark" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" font-family: Roboto;>
                                        Theme  <i class="bi bi-chevron-down "></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        @foreach (var theme in myModelsTheme)
                                        {
                                            <li>
                                                <a class="dropdown-item dd-color" href="#">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=@theme.MissionThemeId name="@theme.Title" id="1" />
                                                        <label class="form-check-label" for="1">@theme.Title</label>
                                                    </div>
                                                </a>
                                            </li>
                                        }

                                    </ul>


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2  p-0 border-start border-end">
                            <div class="d-flex me-0 justify-content-start">
                                <div class="dropdown my-auto">
                                    <a class=" nav-link txt text-dark" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" font-family: Roboto;>
                                        Skill  <i class="bi bi-chevron-down"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="LeaderShip" id="1" />
                                                    <label class="form-check-label" for="1">LeaderShip</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="reading" id="2" />
                                                    <label class="form-check-label" for="2">reading</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">

                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="writing" id="3" />
                                                    <label class="form-check-label" for="3">writing</label>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </nav>*@
        <div class="px-5">
        <nav class="navbar navbar-expand-lg py-0">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-sliders2-vertical"></i>
                </button>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <form class="form-horizontal me-auto mb-2 mb-lg-0 d-none d-lg-block ">
                        <input type="search" id="box" onkeyup="Search()" class="form-control customshadow"
                               style="width: 40vw; border: 0px; font-family:Arial, FontAwesome;"
                               placeholder=" &#xF002; Search Mission..." aria-label="Search" />
                    </form>
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navInline">
                        <li class="nav-item dropdown border-lg-left border-sm-left-0 p-2">
                            <div id="countryDiv">
                                <select id="divCountry" class="border-0" multiple asp-items="Model.countries"
                                        placeholder="Country"
                                        data-search="true">
                                </select>
                            </div>
                        </li>
                        <li class="nav-item dropdown border-sm-left-0 border-lg-left p-2">

                            <div id="cityDiv">
                                <select id="divCity" class="border-0" multiple asp-items="Model.cities"
                                        placeholder="City"
                                        data-search="true" data-silent-initial-value-set="true">
                                </select>
                            </div>


                        </li>
                        <li class="nav-item dropdown border-lg-left border-sm-left-0 p-2">

                            <div id="themeDiv">
                                <select id="divTheme" class="border-0" multiple asp-items="Model.themes"
                                        placeholder="Theme"
                                        data-search="true" data-silent-initial-value-set="true">
                                </select>
                            </div>

                        </li>
                        <li class="nav-item dropdown border-lg-left border-lg-right border-sm-left-0 border-sm-right-0 p-2">

                            <div id="skillDiv">
                                <select id="divSkill" class="border-0" multiple asp-items="Model.skills"
                                        placeholder="Skills"
                                        data-search="true" data-silent-initial-value-set="true">
                                </select>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <hr class="d-none d-lg-block" style="margin: 0px;">
        @*<nav class="navbar  navbar-light bg-white border-bottom box-shadow" id="searchnavmobile">
            <div class="container-fluid " id="navmaindiv">
                <div class="row" style="width:100%;">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="col-xs-10 ">

                            <div class="search-bar" id="searchBar">
                                <input class="form-control" type="text" placeholder="Search Mission" style="border:0px;" aria-label="Search">
                            </div>
                        </div>
                        <div class="col-xs-2 ">

                            <button class="navbar-toggler" type="button" id="filterSearch" data-bs-toggle="offcanvas" data-bs-target="#FilterSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <img src="~/lib/images/filter.png">
                            </button>

                            <div class="offcanvas offcanvas-end" id="FilterSupportedContent">
                                <div class="offcanvas-header">
                                    <h1 class="offcanvas-title" style="color:blue;">Clear All</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                                </div>

                                <div class="dropdown dropright">
                                    <a class=" nav-link txt text-dark" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" font-family: Roboto;>
                                        Country  <i class="bi bi-chevron-right "></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="India" id="1" />
                                                    <label class="form-check-label" for="1">India</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="USA" id="2" />
                                                    <label class="form-check-label" for="2">USA</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="UK" id="3" />
                                                    <label class="form-check-label" for="3">UK</label>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="dropdown dropright ">
                                    <a class=" nav-link txt text-dark" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" font-family: Roboto;>
                                        City  <i class="bi bi-chevron-right "></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Pune" id="1" />
                                                    <label class="form-check-label" for="1">Pune</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="London" id="2" />
                                                    <label class="form-check-label" for="2">London</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="America" id="3" />
                                                    <label class="form-check-label" for="3">America</label>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="dropdown dropright ">
                                    <a class=" nav-link txt text-dark" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" font-family: Roboto;>
                                        Theme  <i class="bi bi-chevron-right "></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Environment" id="1" />
                                                    <label class="form-check-label" for="1">Environment</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Health" id="2" />
                                                    <label class="form-check-label" for="2">Health</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="Animals" id="3" />
                                                    <label class="form-check-label" for="3">Animals</label>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="dropdown dropright ">
                                    <a class=" nav-link txt text-dark" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" font-family: Roboto;>
                                        Skill  <i class="bi bi-chevron-right "></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input .hobbies_class" type="checkbox" value="LeaderShip" id="1" />
                                                    <label class="form-check-label" for="1">LeaderShip</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input .hobbies_class" type="checkbox" value=" reading" id="2" />
                                                    <label class="form-check-label" for="2">reading</label>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dd-color" href="#">

                                                <div class="form-check">
                                                    <input class="form-check-input .hobbies_class" type="checkbox" value="writing" id="3" />
                                                    <label class="form-check-label" for="3">writing</label>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>*@
    </header>

    <main role="main">
        @RenderBody()
    </main>

  @*  <footer>
        <div class="d-flex">
            <a asp-controller="Home" asp-action="Policy" class=" btn text-decoration-none" style="color: black;">Privacy Policy</a>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Select Co-workers</h2>
                        <span class="close">&times;</span>

                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" placeholder="Enter your name" id="name" />

                            <label for="email" class="mt-3">Email Address</label>
                            <input type="email" class="form-control" placeholder="Enter your mail" id="email" />

                            <label for="subject" class="mt-3">Subject</label>
                            <input type="text" class="form-control" placeholder="Enter your subject" id="subject" />

                            <label for="message" class="mt-3">Message</label>
                            <textarea class="form-control" id="message"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn cardbtn" id="sent1" onclick="sendRec(@Model.MissionId);">Send Mail</button>
                    </div>
                </div>

            </div>

        </div>
    </footer>*@

    <footer class=" footer text-muted">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            <!-- Button trigger modal -->
            <button class="btn" id="myBtn" data-bs-toggle="modal" >
                Contact us
            </button>


            <!-- Modal content -->
            <div id="myModal" class="modal">
                <div class="modal-content" style="height:82%;">
                    <div class="modal-header" style="background-color: white; color: black;">
                        <h2>Contact Us</h2>
                        <span class="close" style="color:black;">&times;</span>

                    </div>
                    <form>
                         <div class="modal-body">
                            <label for="Name">Name</label>
                            <input type="text" required class="form-control" placeholder="Enter your name" value="@Context.Session.GetString("UserName")" id="name" />
                            
                            <label for="email" class="">Email Address</label>
                            <input type="email" required class="form-control" placeholder="Enter your mail" value="@Context.Session.GetString("Email")" id="email" />

                            <label for="subject" >Subject</label>
                            <input type="text" required  class="form-control" placeholder="Enter your subject" id="subject" />

                            <label for="message" >Message</label>
                            <textarea required class="form-control" id="message"></textarea>
                        </div>
                    </form>
                       
                


                    <div class="modal-footer" style="background-color: white; color: black;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="contactUs()">Send</button>
                    </div>

                </div>

            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function openNav() {
            document.getElementById("navbarSupportedContent").style.display = "block";
            document.getElementById("searchnavmobile").style.display = "none";
            document.getElementById("navbarSupportedContent").style.marginLeft = "250px";
        }
        function openFilter() {
            document.getElementById("FilterSupportedContent").style.display = "block";
            document.getElementById("navbarSupportedContent").style.display = "none";
            document.getElementById("searchBar").style.display = "none";
            document.getElementById("FilterSupportedContent").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("navbarSupportedContent").style.display = "none";
            document.getElementById("searchnavmobile").style.display = "block";
            document.getElementById("navbarSupportedContent").style.marginLeft = "250px";
        }

        function closeFilter() {
            document.getElementById("FilterSupportedContent").style.display = "none";
            document.getElementById("searchBar").style.display = "block";
            document.getElementById("FilterSupportedContent").style.marginLeft = "250px";
        }


        


    </script>
    <script>
        function contactUs() {
             const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success ms-2',
            cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
    })
            var name = document.getElementById("name").value;
            var mail = document.getElementById("email").value;
            var subject = document.getElementById("subject").value;
            var message = document.getElementById("message").value;
            const regex =  /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (name.trim() && mail.trim() && subject.trim() && message.trim()) {
                if (!regex.test(mail)) {
                    swalWithBootstrapButtons.fire(
                        'Warning!',
                        'Please Enter Valid Email.',
                        'info'
                    )
                }
                else {
                    $.ajax({
                url: '/Home/Contactus',
                type: 'POST',
                data: { "name": name, "mail": mail, "subject": subject, "message": message },
                success: function (result) {
                    if (result.success) {
                        Swal.fire(
                            'Your report is added.'
                        );
                    }
                }
            });
                }
                

            }
            else{
                swalWithBootstrapButtons.fire(
                        'Alert!',
                        'Every field id required.',
                        'error'
                    )
            }
            
        }
   </script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
    
    @*<script>
    $(function () {
    GetMissions();
    $("#searchbox").keyup(function () {

    GetMissions();
    });
    });

    function GetMissions() {

    var MissionName = $.trim($("#searchbox").val());
    alert(MissionName);
    $.ajax({
    type: "POST",
    url: "/Home/SearchMission",
    data:{ missionName: "education" } ,
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (missionlist) {
    console.log(MissionName);
    var table = $("#card");
    table.find(".col-lg:not(:first)").remove();
    $.each(missionlist, function (i, missionlists) {
    var table = $("#card");
    var row = table[0].insertRow(-1);
    $(row).append("<div class=.col-lg>");
    $(row).find("p").eq(0).html(missionlists.City);
    $(row).append("</div >");
    $(row).find("<div class=.col-lg>").eq(1).html(missionlists.StartDate);
    $(row).append("</div >");
    $(row).find("<div class=.col-lg>").eq(2).html(missionlists.Title);
    $(row).append("</div >");

    });
    }
    });
    }
    </script>*@
    @*<script>
    var checkboxes = document.querySelectorAll(".checkbox");


    let filtersSection = document.querySelector(".filters-section");

    var listArray = [];

    var filterList = document.querySelector(".filter-list");

    var len = listArray.length;

    for (var checkbox of checkboxes) {
    checkbox.addEventListener("click", function () {
    if (this.checked == true) {
    addElement(this, this.value);
    }
    else {

    removeElement(this.value);
    console.log("unchecked");
    }
    })
    }


    function addElement(current, value) {
    let filtersSection = document.querySelector(".filters-section");

    let createdTag = document.createElement('span');
    createdTag.classList.add('filter-list');
    createdTag.classList.add('ps-3');
    createdTag.classList.add('pe-1');
    createdTag.classList.add('me-2');
    createdTag.innerHTML = value;

    createdTag.setAttribute('id', value);
    let crossButton = document.createElement('button');
    crossButton.classList.add("filter-close-button");
    let cross = '&times;'



    crossButton.addEventListener('click', function () {
    let elementToBeRemoved = document.getElementById(value);

    console.log(elementToBeRemoved);
    console.log(current);
    elementToBeRemoved.remove();

    current.checked = false;




    })

    crossButton.innerHTML = cross;


    // let crossButton = '&times;'

    createdTag.appendChild(crossButton);
    filtersSection.appendChild(createdTag);

    }

    function removeElement(value) {

    let filtersSection = document.querySelector(".filters-section");

    let elementToBeRemoved = document.getElementById(value);
    filtersSection.removeChild(elementToBeRemoved);

    }



    </script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
